NODE_ENV='development'
PORT=5000
FRONTEND_URL=http://localhost:5173
# eSewa Payment (Sandbox)
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=your_esewa_secret_key_here
ESEWA_GATEWAY_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_VERIFICATION_URL=https://uat.esewa.com.np/api/epay/main/v2/verify
MONGO_URI="mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/CodeForChange?retryWrites=true&w=majority&appName=Cluster0"
JWT_SECRET=<your_jwt_secret_min_32_chars>
OTP_EXPIRY=300
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=<your_email@gmail.com>
SMTP_PASS=<your_gmail_app_password>
PAYMENT_GATEWAY_URL=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=<your_cloudinary_cloud_name>
CLOUDINARY_API_KEY=<your_cloudinary_api_key>
CLOUDINARY_API_SECRET=<your_cloudinary_api_secret>


EMAIL_USER=<your_email@gmail.com>
EMAIL_PASS=<your_gmail_app_password>
EMAIL_TO=<your_email@gmail.com>
