NODE_ENV='development'
PORT=5000
FRONTEND_URL=http://localhost:5173
# eSewa Payment (Sandbox)
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=your_esewa_secret_key_here
ESEWA_GATEWAY_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_VERIFICATION_URL=https://uat.esewa.com.np/api/epay/main/v2/verify
MONGO_URI="mongodb+srv://sudeep:sudeep321@cluster0.ar1rdqo.mongodb.net/CodeForChange?retryWrites=true&w=majority&appName=Cluster0"
JWT_SECRET=your_super_secure_secret_key_2025
OTP_EXPIRY=300
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sajhilodigital@gmail.com
SMTP_PASS=ufcugrdhpzcakakw
PAYMENT_GATEWAY_URL=https://mock-payment.com/pay

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dwljdalyg
CLOUDINARY_API_KEY=579222985328265
CLOUDINARY_API_SECRET=UCdvdYmjWVbNhy2sIZy2_T3eCRw


EMAIL_USER=sajhilodigital@gmail.com
EMAIL_PASS=ufcugrdhpzcakakw
EMAIL_TO=sajhilodigital@gmail.com
